a {
  text-decoration: none;
  width: 100%;
  display: flex;
  color:ivory;
  transition: .3s all;
}

.icon {
  display: block;
  min-width: 60px;
  line-height: 60px;
  font-size: 1.5rem;
  text-align: center;
}

a:hover{
  font-size: 1.3rem;
  
}

.title {
  padding-left: 10px;
  line-height: 60px;
  white-space: normal;
}



